
@{
    ViewData["Title"] = "Display";
}

<h1>User Details</h1>

<table class="table table-bordered">
    <tr>
        <td>Name: </td>
        <td>@ViewBag.Name</td>
    </tr>
     <tr>
        <td>Gender </td>
        <td>@ViewBag.Gender</td>
    </tr>
     <tr>
        <td>Hobbies </td>
        <td>
            @foreach(string s in ViewBag.Hobbies)
            {
                @s
                <p/>
            }
        </td>
    </tr>
     <tr>
        <td>NewsLetter</td>
        <td>@ViewBag.Options</td>
    </tr>
</table>

